    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        height: 100vh;
        width: 100vw;
    }
    /* https: //wallpapercave.com/wp/wp2179407.jpg */
    /* https: //i.pinimg.com/originals/18/ae/ce/18aece9f04c1264235f9a3e6aaf00f7a.jpg */
    
    header {
        width: 100vw;
        height: 100vh;
        background: url(https://wallpapercave.com/wp/wp2179444.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    h1 {
        text-align: center;
        color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 3;
        max-width: 400px;
        width: 100%;
        height: 50px;
    }
    
    body {
        font-family: "Poppins", sans-serif;
        background: #151414;
        overflow-x: hidden;
    }
    
    main {
        width: 100vw;
        height: 100vh;
    }
    /* carousel *********************************** */
    
    .home-demo .item {
        background: #000000 !important;
    }
    
    .home-demo .item img {
        width: 25rem;
        height: 12.5rem;
    }
    
    .home-demo h2 {
        color: #FFF;
        text-align: center;
        padding: 5rem 0;
        margin: 0;
        font-style: italic;
        font-weight: 300;
    }
    /* DEMO GENERAL ============================== */
    
    .hover {
        overflow: hidden;
        position: relative;
        padding-bottom: 60%;
    }
    
    .hover-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 90;
        transition: all 0.4s;
    }
    
    .hover img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s;
    }
    
    .hover-content {
        position: relative;
        z-index: 99;
    }
    /* Filter ************** */
    /* DEMO 3 ============================== */
    
    .hover-3::after {
        content: '';
        width: calc(100% - 3rem);
        height: calc(100% - 3rem);
        border: 1px solid #fff;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        z-index: 90;
        transition: all 0.3s;
        transform: scale(1.1);
        opacity: 0;
        display: block;
        opacity: 0;
    }
    
    .hover-3-content {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        text-align: center;
        z-index: 99;
    }
    
    .hover-3-description {
        opacity: 0;
        transform: scale(1.3);
        transition: all 0.3s;
    }
    
    .hover-3 img {
        width: 110%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .hover-3 .hover-overlay {
        background: rgba(0, 0, 0, 0.2);
    }
    
    .hover-3:hover img {
        width: 100%;
    }
    
    .hover-3:hover::after {
        opacity: 1;
        transform: none;
    }
    
    .hover-3:hover .hover-3-description {
        opacity: 1;
        transform: none;
    }
    
    .hover-3:hover .hover-overlay {
        background: rgba(0, 0, 0, 0.8);
    }
    /* Admin ******************************** */
    
    .btn-grad {
        background-image: linear-gradient(to right, #485563 0%, #29323c 51%, #485563 100%);
        margin: 10px;
        padding: 15px 45px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
    }
    
    .btn-grad:hover {
        background-position: right center;
        /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    /* Admin end ******************************** */